@media print {
    body * {
        visibility: hidden;
    }
    #areaNota, #areaNota * {
        visibility: visible;
    }
    #areaNota {
        position: absolute;
        left: 0;
        top: 0;
        width: 58mm;
        font-family: 'Courier New', Courier, monospace;
        font-size: 11px;
        color: #000;
        background: #fff;
        padding: 5px;
    }
}

.nota-item-row {
    margin-bottom: 3px;
}

.nota-item-detail {
    display: flex;
    justify-content: space-between;
}

.img-frame-container {
    max-height: 140px;
}